<form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Your Street" formControlName="street">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Your City" formControlName="address">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Your State" formControlName="state">
  </mat-form-field>

  <br />
  <app-grid-data></app-grid-data>
</form>

<button mat-button (click)="addNew()">Add new</button>
<button mat-button (click)="updateExisting()">Update existing</button>